.ngx-loader-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  vertical-align: middle;
  padding: 8px 16px;
  z-index: 9999;
  /*border-top-left-radius: 4px;*/
  /*border-top-right-radius: 4px;*/
  box-shadow: 0 0 4px #555;
  user-select: none;
}
.ngx-loader-container.bottom-right {
  bottom: 0;
  right: 1%;
}
.ngx-loader-container.bottom-left {
  bottom: 0;
  left: 1%;
}
.ngx-loader-container.top-right {
  top: 0;
  right: 1%;
}
.ngx-loader-container.top-left {
  top: 0;
  left: 1%;
}
.ngx-loader-container .ngx-loader-title {
  color: #fff;
}
.ngx-loader-container .ngx-loader {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  z-index: 9999;
  margin-right: 4px;
  background-image: url("/assets/loader.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*@media screen and (max-width: 430px) {
  .ngx-loader-container {
    right: 0;
    left: 0;
    border-radius: 0;
    background-color: #222;
    text-align: center;
  }
}*/
